.confirmation-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2em 0 2em;
}
    
.confirmation-centered-card {
    text-align: center;
    max-height: 700px;
    width: 100%;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 20px;
    padding: 20px;
    transition: max-height 0.2s ease-in-out;
}

.button {
    width: 10em;
}