.jobCompletion-form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2em 0 2em;
}

.jobCompletion-centered-card{
    text-align: center;
    max-height: 400px;
    width: 90%;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: max-height 0.2s ease-in-out;
}

.button {
    width: fit-content;
}