.carousel {
    width: 100%;
    max-height: 70vh; /* Limit the maximum height of the Carousel */
    margin: 0 auto;
  }
  
.carousel-item {
  text-align: center; /* Center the images horizontally */
}

.carousel-inner {
  max-height: 100%;
}

.carousel img {
  max-width: 95%;
  max-height: 95%;
  margin: 0 auto;
}

.carousel-item-content {
  position: relative; /* Ensure relative positioning for the parent container */
}

.carousel-caption {
  color: black !important; /* Set the text color */
  padding: 10px !important; /* Add padding to the caption */
}

.carousel-control-next-icon, .carousel-control-prev-icon {
  background-color: black !important;
  border: 5px solid black;
  border-radius: 5px;
  padding: 10px;
}

.carousel-indicators li {
  border-top: unset;
  width: 10px;
  border-bottom: unset;
  border: 1px solid transparent;
  border-left-width: 0;
  border-right-width: 0;
  border-radius: 10px;
  background-color: rgba(169, 29, 42, 0.4);
  height: 10px;
  width: 20px;}                                                  
                                                                 
  .carousel-indicators .active {
  border-top: unset;
  border-bottom: unset;
  border: 1px solid transparent;
  border-left-width: 0;
  border-right-width: 0;
  border-radius: 10px;
  background-color: #A91D2A;
  height: 10px;
  width: 50px
}

.jobDetails-centered-card {
  text-align: center;
  max-height: 100vh;
  width: 100%;
  margin: auto;
  background-color: #fff;
  border-radius: 20px;
  padding: 20px;
  transition: max-height 0.2s ease-in-out;
}

.button {
    width: 20vw;
}

.jobDetails-text {
  text-align: left;
  padding: 10px;
  margin: 10px 5px;
}

.card-body {
  border-radius: 10px !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) !important;
  margin-bottom: 50px !important;
}

li {
  color: blue;
  cursor: pointer;
}

.modal-footer {
  justify-content: left !important;
}
