.jobs-header-container {
    text-align: center;
    margin: 2% 2%;
}

.jobs-buttons-container {
    padding-bottom: 2rem;
    text-align: center;
}

.jobs-button {
    margin: 2px 5px;
    padding: 5px;
}

.jobs-jobCard-container {
    justify-content: center;
    padding: 20px;
}

.jobs-notFound-message {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

.jobs-dynamic-page-header {
    font-weight: bold;
    
}

.jobCard-card {
    height: 15em;
}

.jobCard-badge {
    position: static !important;
    padding: 5px !important;
}

.jobCard-badge-container {
  position: relative;
  top: 34%;
}

p {
    position: relative;
    top: 25%;
}

h5 {
    position: relative;
    top: 25%;
}

.item {
    flex: 1 0 20%;
    max-width: 20%;
}