.login-container {
  display: flex;
  align-items: stretch;
  height: 100vh; 
}

.login-message-container,
.login-form-container {
  flex: 1; 
}

.login-message-container {
  display: flex;
  background-color: #040404; 
  padding: 20px;
  padding-bottom: 40px;
  justify-content: center;
  align-items: stretch;
}

.login-message-container p {
  font-size: 60px;
  color: whitesmoke;
  margin-bottom: auto;
}

.login-form-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 20px; 
  margin-bottom: 25vh;
}

.login-button-container {
  display: flex;
  justify-content: center;
}

.login-signup-message-container {
  text-align: center;
  padding-top: 15px;
}

.login-signup-message-container p {
  margin-bottom: auto;
}

.login-header {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  .login-container {
    flex-direction: column; 
  }

  .login-form-container {
    flex: 1; 
    padding: 20px; 
  }
}