.login-container {
  display: flex;
  align-items: stretch;
  height: 100vh; /* Make the login container full height */
}

.login-message-container,
.login-form-container {
  flex: 1; /* Each container takes up half of the available space */
}

.login-message-container {
  display: block;
  background-color: #040404; /* Set a background color for the image container */
  padding: 20px;
  padding-bottom: 40px
}

.login-message-container p {
  display: relative;
  font-size: 60px;
  color: whitesmoke; /* Ensure the image doesn't exceed its container */
  margin-bottom: auto;

}

.login-form-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 20px; /* Add padding for spacing */
  margin-bottom: 25vh;
}

.login-button-container {
  display: flex;
  justify-content: center;
}

.login-signup-message-container {
  text-align: center;
  padding-top: 15px;
}

.login-signup-message-container p {
  margin-bottom: auto;
}

.login-header {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  .login-container {
    flex-direction: column; /* Stack elements vertically on smaller screens */
  }

  .login-form-container {
    flex: 1; /* Take up the entire width of the screen */
    padding: 20px; /* Add padding for spacing */
  }
}