.signup-container {
  display: flex;
  align-items: stretch;
  height: 100vh; /* Make the login container full height */
}

.signup-message-container,
.signup-form-container {
  flex: 1; /* Each container takes up half of the available space */
}

.signup-message-container {
  display: block;
  background-color: #040404; /* Set a background color for the image container */
  padding: 20px;
  padding-bottom: 15vh;
  margin-top: -50px;
}

.signup-message-header{
  display: relative;
  font-size: 60px;
  color: whitesmoke; /* Ensure the image doesn't exceed its container */
  margin-bottom: auto;
}

.signup-message-details {
  display: relative;
  font-size: 30px;
  color: whitesmoke;
  margin-bottom: auto;
}

.signup-form-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 20px; /* Add padding for spacing */
  margin-bottom: 25vh;
}

.signup-type-button-container .btn {
  margin: 5px;
}

.signup-button-container {
  display: flex;
  justify-content: center;
}

.signup-login-message-container {
  text-align: center;
  padding-top: 15px;
}

.signup-login-message-container p {
  margin-bottom: auto;
}

.signup-header {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  .signup-container {
    flex-direction: column; /* Stack elements vertically on smaller screens */
  }

  .signup-form-container {
    flex: 1; /* Take up the entire width of the screen */
    padding: 20px; /* Add padding for spacing */
  }
}